<!DOCTYPE html>
<html lang="en" ng-app="scotchTodo">

<head>
	<!--Added a title so it looks nicer on the tab rather then showing index.html-->
	<title> App name </title> <!--Change to actual name -->
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!--Import materialize.css-->
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

	<link rel="stylesheet" type="text/css" href="theme.css">

	<link href="custom-marker.css"  rel="stylesheet" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />


	<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>&lt;!&ndash; load angular &ndash;&gt;-->

	<script src="angular.js"></script>
	<script src="https://maps.google.com/maps/api/js?libraries=placeses,visualization,drawing,geometry,places&key=AIzaSyCbMGRUwcqKjlYX4h4-P6t-xcDryRYLmCM"></script>
	<script src="ng-map.no-dependency.js"></script>

	<script src="js/controllers/main.js"></script> <!-- load up our controller -->
	<script src="js/services/todos.js"></script> <!-- load our todo service -->
	<script src="js/core.js"></script> <!-- load our main application -->


</head>

<body ng-controller="mainController as vm">
<nav class="nav-extended ">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Logo</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a>Login</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a>login</a></li>
		</ul>
	</div>
	<div class="nav-content">
		<ul class="tabs tabs-transparent">
			<li class="tab"><a class="active" href="#test1">Map</a></li>
			<li class="tab"><a href="#test2">Class Discovery</a></li>
			<li class="tab"><a href="#test3">User Discovery</a></li>
		</ul>
	</div>
</nav>
<div class="content">
	<div id="test1">
		<div class="map-container">
			<div class="description-container">
				<div id="search" class="z-depth-1">
					<div class="row">
						<!--<div class="input-field col s6">-->
							<!--&lt;!&ndash; just changing the id names to different ID names just for fomalities so we don't have first_name as all of our ID's&ndash;&gt;-->
							<!--<input placeholder="Waterloo" id="city_id" type="text" class="validate">-->
							<!--<label for="city_id">City</label>-->
						<!--</div>-->
						<!--<div class="input-field col s6">-->
							<!--<input placeholder="Laurier" id="school_id" type="text" class="validate">-->
							<!--<label for="school_id">School</label>-->
						<!--</div>-->

						<div class="input-field col s6">
							<!-- just changing the id names to different ID names just for fomalities so we don't have first_name as all of our ID's-->
							<input placeholder="Laurier" id="university" type="text" class="validate" ng-model="search.university">
							<label for="university">University</label>
						</div>

						<div class="input-field col s6">
							<input placeholder="CP317" id="course" type="text" class="validate" ng-model="search.course">
							<label for="course">Course</label>
						</div>

					</div>

				</div>
				<!-- The description cards will be filled by an array(for loop) -->

				<div ng-repeat="card in cards | filter:search">

					<div id="Card" class="z-depth-1">
						<div id="details">
							<h1>{{card.university}}</h1>
							<h2>{{card.course}}</h2>
							<h2>{{card.description}}</h2>
						</div>
						<div id="timeline">
							<div id=TimeRange> 3pm</div>
							<div id="time">
								<div class="progress">
									<div class="determinate" style="width: 70%"></div>
								</div>
							</div>
							<div id=TimeRange> 6pm</div>
						</div>
						<div id="tag">
							<!-- good to use the alt name when assigning images-->
							<img src="assets/001-burn.png" alt ="name1">
							<img src="assets/001-burn.png" alt ="name2">
							<img src="assets/001-burn.png" alt ="name3">
							<img src="assets/001-burn.png" alt ="name4">
						</div>
					</div>

				</div>

			</div>


			<div id="map">
				<ng-map  center="[43.472493, -80.526498]"  style="display: block; height: 90%;">

					<custom-marker ng-repeat="p in cards track by $index"
								   id="custom-marker-{{$index}}"
								   on-click="vm.map.showInfoWindow('foo', 'custom-marker-'+$index)"
								   position="{{p.pos}}">
							<div>
								<p>{{p.course}}</p>
								{{p.description}}
						</div>
					</custom-marker>

					<info-window id="foo" on-mouseover="vm.mouseover()">
						<div ng-non-bindable="">
							Lat: {{anchor.getPosition().lat()}}<br/>
							Lng: {{anchor.getPosition().lng()}}<br/>
						</div>
					</info-window>

				</ng-map>

			</div>


		</div>
	</div>

	<div id="test2" class="col s12">
		<div id="class-search">
			<div id=background class="z-depth-1">
				<div id="test2-input">
					<div class="input-field">
						<input placeholder="Wilfrid Laurier" id = "school_id2" type="text" class="validate">
						<label for="school_id2">School</label>
					</div>
				</div>
				<div id="test2-input">
					<div class="input-field">
						<input placeholder="cp317" type="text" id="class_code" class="validate">
						<label for="class_code">Class</label>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div id="test3" class="col s12">Test 3</div>
</div>

<div id=chat>
	chat is going to be done facebookstyle
</div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script src="javascript.js"></script>

</body>

</html>
